/* Genoma page: expansion wires background, color #3B002B */
.wrapper.genoma-page {
    background-color: #3B002B;
}

.imageContainerGenoma {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 1102px;
    z-index: 0;
}

.imageContainerGenoma::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../expansion/images/expansion_wires.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -ms-opacity: 1;
    opacity: 1;
}

.imageContainerGenoma header,
.imageContainerGenoma main {
    position: relative;
    z-index: 1;
}

/* Ensure TobarMediaDesign header is visible and aligned like other pages */
.wrapper.genoma-page #topHeader {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 19px;
    background-color: black;
    border-bottom: 1px solid gray;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.wrapper.genoma-page #topHeader div {
    color: white;
    font-family: "Fedra Sans Light", sans-serif;
}

#genoma-back {
    margin: 2em 0 0;
    text-align: center;
}

#genoma-back a.genoma-back-link {
    font-family: "Fedra Sans Light", sans-serif;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

#genoma-back a.genoma-back-link:hover {
    text-decoration: underline;
}

/* Responsive: non-desktop */
@media (max-width: 959px) {
    .wrapper.genoma-page {
        margin-top: 0;
        padding-top: 0;
        position: relative;
        z-index: 1;
    }

    .imageContainerGenoma {
        width: 100%;
        min-height: 100vh;
        height: auto;
        position: relative;
        background-image: none;
        margin-top: 0;
        padding-top: 0;
    }

    .imageContainerGenoma header {
        margin: 0;
        padding: 0;
        height: 0;
        min-height: 0;
        overflow: visible;
    }

    /* Fixed full-viewport background so there is no gap under the header */
    .imageContainerGenoma::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url("../expansion/images/expansion_wires.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.25;
        -ms-opacity: 0.25;
        z-index: 0;
    }

    .imageContainerGenoma header,
    .imageContainerGenoma main {
        position: relative;
        z-index: 1;
    }

    /* Responsive header: match genesis non-desktop behavior */
    .wrapper.genoma-page #topHeader {
        left: 0;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        min-height: 19px;
        box-sizing: border-box;
    }

    .wrapper.genoma-page #topHeader > div:first-child {
        width: auto;
        min-width: 0;
        flex: 1 1 auto;
    }

    .wrapper.genoma-page #topHeader > div:nth-child(2) {
        flex: 0 0 auto;
        white-space: nowrap;
    }
}
