@import url("fontloader.css");

body {
    position: relative;
}

.loaderContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    font-family: "Fedra Sans Light";
    z-index: 1000;
    pointer-events: none;
}

#loader {
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

#loading {
    position: relative;
    top: -25px;
    left: 5px;
    -moz-animation: pulse 0.3s infinite alternate;
    -o-animation: pulse 0.3s infinite alternate;
    -webkit-animation: pulse 0.3s infinite alternate;
    -ms-animation: pulse 0.3s infinite alternate;
    animation: pulse 0.3s infinite alternate;
}

@-moz-keyframes pulse {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes pulse {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes pulse {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1.0;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 2000px;
    top: 0;
    left: 0;
    -ms-opacity: 0.5;
    opacity: 0.5;
    background-color: black;
    z-index: 50;
}

.imageContainer2 {
    background-image: url("../images/page2.jpg");
    z-index: -20;
    height: 2548px;
    background-repeat: no-repeat;
    -ms-opacity: 1;
    opacity: 1;
}

.birth {
    position: absolute;
    top: 357px;
    left: 270px;
}

.ances {
    position: absolute;
    top: 88px;
    left: 659px;
}

.contactus2 {
    position: absolute;
    top: 148px;
    left: 249px;
}

.min {
    position: absolute;
    top: 116px;
    left: 221px;
}

.contactus2gameplay {
    position: absolute;
    top: 151px;
    left: 370px;
}

.beaver {
    position: absolute;
    top: 356px;
    left: 433px;
}

.essence {
    position: absolute;
    top: 349px;
    left: 114px;
}

.experi {
    position: absolute;
    top: 124px;
    left: 501px;
}

.fish {
    position: absolute;
    top: 174px;
    left: 160px;
}

.ford {
    position: absolute;
    top: 343px;
    left: 651px;
}

.lifeisjazz {
    position: absolute;
    top: 86px;
    left: 408px;
}

.gelfenstein {
    position: absolute;
    top: 82px;
    left: 536px;
}

.m {
    position: absolute;
    top: 116px;
    left: 329px;
}

.mirror {
    position: absolute;
    top: 248px;
    left: 90px;
}

.work2020 {
    position: absolute;
    top: 231px;
    left: 320px;
}

.rw {
    position: absolute;
    top: 78px;
    left: 664px;
}

.eledonkey2020 {
    position: absolute;
    top: 252px;
    left: 495px;
}

.surgeons {
    position: absolute;
    top: 226px;
    left: 656px;
}

.vaniads {
    position: absolute;
    top: 266px;
    left: 219px;
}

.logod {
    position: absolute;
    top: 355px;
    left: 14px;
}

/* Desktop only: brightness hover effect for workimg */
@media (min-width: 960px) {
    .workimg {
        -webkit-filter: brightness(1);
        -moz-filter: brightness(1);
        -ms-filter: brightness(1);
        -o-filter: brightness(1);
        filter: brightness(1);
        -webkit-transition: filter 0.3s ease;
        -moz-transition: filter 0.3s ease;
        -ms-transition: filter 0.3s ease;
        -o-transition: filter 0.3s ease;
        transition: filter 0.3s ease;
    }

    .workimg:hover {
        -webkit-filter: brightness(1.15);
        -moz-filter: brightness(1.15);
        -ms-filter: brightness(1.15);
        -o-filter: brightness(1.15);
        filter: brightness(1.15);
    }
}

.hover {
    position: relative;
    font-family: Fedra Sans Light Italic;
    color: white;
    text-align: center;
    width: 220px;
    height: 20px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -ms-opacity: 0;
    background-color: #4a4a4a;
    padding: 10px;
    opacity: 0;
    top: 460px;
    left: 360px;
}

#lightbox {
    position: absolute;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    top: 100px;
    left: 0;
    background-color: black;
    z-index: 100;
    display: none;
}

#lightbox #changeImg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#topHeader {
    width: 960px;
    height: 19px;
    background-color: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid gray;
    z-index: 500;
}

header div {
    width: 350px;
    color: white;
    vertical-align: middle;
}

    header div:first-child {
        text-align: left;
        text-indent: 1em;
        float: left;
        top: 5px;
        font-family: Fedra Sans Light;
    }

    header div:nth-child(2) {
        text-align: right;
        padding-right: 1em;
        float: right;
        top: 5px;
        font-family: Fedra Sans Light;
    }

.nav_page2 {
    position: absolute;
    left: 76px;
    top: 72px;
    font-size: 20px;
}

ul {
    clear: both;
    text-decoration: none;
}
/* Nav Page Styling */

.nav_page2 a {
    text-decoration: none;
    color: white;
    font-family: Fedra Sans Light;
    -moz-transition-property: color, padding-left;
    -o-transition-property: color, padding-left;
    -webkit-transition-property: color, padding-left;
    transition-property: color, padding-left;
    -moz-transition-duration: .25s, .25s;
    -o-transition-duration: .25s, .25s;
    -webkit-transition-duration: .25s, .25s;
    transition-duration: .25s, .25s;
}

    .nav_page2 a:hover {
        color: var(--color-session-nav);
        cursor: pointer;
        -moz-transition-property: color,padding-left;
        -o-transition-property: color,padding-left;
        -webkit-transition-property: color,padding-left;
        transition-property: color,padding-left;
        -moz-transition-duration: .25s,.25s;
        -o-transition-duration: .25s,.25s;
        -webkit-transition-duration: .25s,.25s;
        transition-duration: .25s,.25s;
    }

    .nav_page2 a.nav-desktop-hover {
        color: var(--color-session-nav);
        padding-left: 8px;
        -moz-transition-property: color, padding-left;
        -o-transition-property: color, padding-left;
        -webkit-transition-property: color, padding-left;
        transition-property: color, padding-left;
        -moz-transition-duration: .25s, .25s;
        -o-transition-duration: .25s, .25s;
        -webkit-transition-duration: .25s, .25s;
        transition-duration: .25s, .25s;
    }

    .nav_page2 ul li:nth-child(2) a {
        padding-left: 0;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .nav_page2 ul li:nth-child(2) a:hover {
        padding-left: 0;
    }

#videoLightboxWrap {
    display: none;
    position: relative;
}

#videobox {
    position: absolute;
    display: none;
    left: 225px;
    top: 150px;
    width: 500px;
    height: 281px;
    z-index: 51;
}

#localVideo {
    position: absolute;
    display: none;
    left: 225px;
    top: 150px;
    width: 500px;
    height: 281px;
    z-index: 51;
}

#demoreel {
    position: absolute;
    top: 605px;
    left: 50px;
    font-family: "Fedra Sans Light";
}

    #demoreel a {
        text-decoration: none;
        color: white;
    }

        #demoreel a:hover {
            color: var(--color-session-nav);
            cursor: pointer;
            -moz-transition-property: color;
            -o-transition-property: color;
            -webkit-transition-property: color;
            transition-property: color;
            -moz-transition-duration: .25s;
            -o-transition-duration: .25s;
            -webkit-transition-duration: .25s;
            transition-duration: .25s;
        }

#close {
    display: none;
    position: absolute;
    top: 119px;
    left: 225px;
    background-color: white;
    font-family: "Fedra Sans Light";
    font-size: 8pt;
    z-index: 51;
    padding: 10px;
}

    #close:hover {
        color: red;
        cursor: pointer;
    }

#closelightbox {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    font-family: "Fedra Sans Light";
    color: white;
    font-size: 8pt;
    z-index: 51;
    padding: 10px;
    text-align: left;
}

    #closelightbox:hover {
        cursor: default;
    }

#inform {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    font-family: "Univers 55";
    color: white;
    font-size: 12pt;
    z-index: 51;
    padding: 10px;
    text-align: right;
}

#sessionPanHint {
    display: none !important;
}

@media (max-width: 959px) {
    #sessionPanHint {
        display: none !important;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 100;
        padding: 0.6em 1em;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-family: "Fedra Sans Light", sans-serif;
        font-size: 14px;
        -webkit-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
    }

    #sessionPanHint.session-pan-hint-visible {
        display: block !important;
        visibility: visible;
        opacity: 1;
    }

    html, body {
        overflow-y: hidden;
    }

    .wrapper.session-page {
        overflow-x: auto;
        overflow-y: visible;
        min-width: 100%;
    }

    .wrapper.session-page .imageContainer2 {
        min-width: 960px;
    }

    #lightbox {
        position: fixed !important;
        left: 50% !important;
        top: 50% !important;
        width: 95vw !important;
        max-width: 95vw;
        height: auto !important;
        max-height: 90vh;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    #lightbox #changeImg {
        max-width: 100%;
        max-height: 75vh;
        width: auto;
        height: auto;
        object-fit: contain;
        display: block;
    }

    #videoLightboxWrap {
        position: fixed !important;
        left: 50% !important;
        top: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        z-index: 51;
    }

    #videoLightboxWrap #videobox {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        width: 95vw !important;
        max-width: 95vw;
        height: 53.39vw !important; /* 281/500 aspect ratio */
        max-height: 90vh !important;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        box-sizing: border-box;
    }

    #videoLightboxWrap #localVideo {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        width: 95vw !important;
        max-width: 95vw;
        height: 53.39vw !important; /* 281/500 aspect ratio */
        max-height: 90vh !important;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        box-sizing: border-box;
    }

    #videoLightboxWrap #close {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        margin-bottom: 0.5rem;
        flex-shrink: 0;
    }

    .nav_page2 {
        left: 50%;
        top: 28px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
    }

    .nav_page2 ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1em;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .nav_page2 li {
        margin: 0;
    }

    .nav_page2 a {
        display: inline-block;
        padding: 0.5em 0.75em;
        -webkit-transition: color 0.25s;
        -moz-transition: color 0.25s;
        -ms-transition: color 0.25s;
        -o-transition: color 0.25s;
        transition: color 0.25s;
    }

    .nav_page2 ul li:nth-child(2) a {
        pointer-events: none;
        padding-left: 0.75em;
        padding-right: 0.75em;
        text-align: center;
    }

    .nav_page2 a:hover {
        padding-left: 0.75em !important;
        color: var(--color-session-nav);
        -webkit-transition: color 0.25s;
        -moz-transition: color 0.25s;
        -ms-transition: color 0.25s;
        -o-transition: color 0.25s;
        transition: color 0.25s;
    }

    #inform {
        font-size: 10pt;
    }
}

@keyframes session-nav-pulse {
    0%, 100% { color: #F3E60F; }
    50% { color: white; }
}

.nav_page2 ul li:nth-child(2) a {
    animation: session-nav-pulse 1s ease-in-out infinite;
}

@media (max-width: 499px) {
    .nav_page2 {
        font-size: 3.5vw;
    }

    .nav_page2 ul {
        gap: 2vw;
    }

    .nav_page2 a {
        padding: 1.5vw 2.5vw;
    }
}